* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Digital';
    src: url('DS-DIGI.TTF') format('truetype');
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #5A5A5A;
}

#titulo{
    font-size: min(5rem, 15vw);
    color: #e0e0e0;
    position: absolute;
    width: 100vw;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#config{
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    color: #323232;
    cursor: pointer;
}

#container{
    width: 18em;
    background-color: #323232;
    border-radius: 0.4em;
    box-shadow: 0 0 1rem #D40909;
    display: flex;
    justify-content: center;
}


#config:hover{
    color: #404040;
}

#timer{
    font-family: 'digital', sans-serif;
    font-size: 6em;
    color: #D40909;
}

#options{
    display: flex;
    gap: 1.4375em;
    margin: 1em;
}

#options button{
    background-color: #404040;
    color: #e0e0e0;
    padding: 1em 0em;
    border-radius: 0.5em;
    width: 8.3rem;
    height: auto;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
#options button:hover{
    color: #5A5A5A;
}

i {
    font-size: 2.5em;
}

footer {
    background-color: #E7EAE7;
    height: 5vh;
    text-align: right;
}

footer p{
    padding: 1em;
    font-weight: lighter;
}

