* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Digital';
    src: url('DS-DIGI.TTF') format('truetype');
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #5A5A5A;
}

#titulo{
    font-size: 5em;
    color: #e0e0e0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#timer{
    background-color: #323232;
    font-family: 'digital', sans-serif;
    font-size: 6em;
    color: #D40909;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.1em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#options{
    display: flex;
    gap: 1.4375em;
    margin: 1em;
}

#options button{
    background-color: #404040;
    color: #e0e0e0;
    padding: 1em 2.5em;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

i {
    font-size: 2.5em;
}

footer {
    background-color: #E7EAE7;
    height: 5vh;
    text-align: right;
}

footer p{
    padding: 1em;
    font-weight: lighter;
}

